@import '../../scss/_variables';

$loading-bgcolor: $primary-color;    

.loading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 99;
    text-align: center;

    .loader {
        width: 75px;
        height: 77px;
        border-radius: 100%;
        animation: spin 5s infinite linear;
    
        .circle {
            width: 100%;
            height: 100%;
            position: absolute;
            .inner {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                border: 5px solid transparentize($loading-bgcolor, 0.4);
                border-right: none;
                border-top: none;
                background-clip: padding;
                box-shadow: inset 0px 0px 10px transparentize($loading-bgcolor, 0.85);
            }
        }
    }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@for $i from 0 through $loading-ncirc {
    .circle:nth-of-type(#{$i}) {
        transform: rotate($i * 70deg);

        .inner {
            animation: spin 2s infinite linear;
        }
    }
}
