.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden !important;
    right: 0px;
    z-index: 999;
    text-align: center;

    img {
        width:700px;
        height: 700px;
        margin: auto;
        vertical-align: middle;
    }
}

@keyframes outAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
