@import "../../scss/_variables";

.timeline-container {
    .timeline-block {
        &:after {
            content: '';
            display: table;
            clear: both;
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}


.timeline-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: #dedede;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    .timeline-block {
        position: relative;
        margin: 2em 0;

        .timeline-content {
            position: relative;
            margin-left: 60px;
            background: #f5f5f5;
            border-radius: 0.25em;
            box-shadow: 0 1px 0 #dedede;
            border: 1px solid #dedede;
            padding: 0;
            width: 80%;

            &:before {
                content: '';
                position: absolute;
                top: 16px;
                right: 100%;
                height: 0;
                width: 0;
                border: 7px solid transparent;
                border-right: 7px solid var(--theme-first-color);
            }

            &:after {
                content: '';
                display: table;
                clear: both;
            }

            h2 {
                background-color: var(--theme-first-color);
                color: #fff;
                padding: 1em;
                margin: 0;
                font-size: 14px!important;
                font-weight: bold;
                line-height: 28px;
                height: 56px;

                a {
                    color: white;
                    span {
                        cursor: pointer;
                        
                        &:hover {
                            font-size: 15px!important;
                        }
                    }
                }
            }

            p {
                font-size: 14px;
                margin: 0;
                line-height: 1.6;
                padding: 1em;
            }

            .arrow {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 20px;
                height: 20px;
                cursor: pointer;
        
                &:before,
                &:after {
                    position: relative;
                    content: '';
                    display: block;
                    width: 10px;
                    height: 1px;
                    background: white;
                    transition: 0.3s ease-in-out;
                }
            
                &:before {
                    transform: rotate(45deg);
                    position: absolute;
                    top: 8px;
                }
            
                &:after {
                    left: 6px;
                    top: 8px;
                    transform: rotate(-45deg);
                }
            }
        
            &.expanded .arrow:before {
                transform: rotate(-45deg);
            }
        
            &.expanded .arrow:after {
                transform: rotate(45deg);
            }

            &.expanded .job-description > .collapsible {
                transition: margin-bottom 0.3s cubic-bezier(0, 0, 0, 1);
                margin-bottom: 0;
                max-height: 1000px;
            }

            &.expanded .job-description:after {
                    content: '';
                    height: 50px;
                    transition: height 0.3s linear, max-height 0s 0.3s linear;
                    max-height: 0px;
            }

        
            .job-description {
                padding: 0 1rem;
                overflow: hidden;

                &:after {
                    height: 0;
                    transition: height 0.3s linear;
                    max-height: 50px;
                }
          
                .collapsible {
                    margin-bottom: -2000px;
                    transition: margin-bottom 0.3s cubic-bezier(1, 0, 1, 1),
                                visibility 0s 0.3s, max-height 0s 0.3s;
                    visibility: visible;
                    max-height: 0;

                    p {
                        padding: 5px 0;
                    }
                }

              



                
            }
        }
    }
}


.timeline-container .timeline-block .timeline-year {
    position: absolute;
    top: 15px;
    left: 0;
    width: 50px;
    height: 20px;

    i {
        color: var(--theme-first-color);
        display: inline-block;
        width: 50px;
        height: 20px;
        font-weight: bold;
        text-align: center;
        background-color: #fff;
    }
    
}


@media (min-width: 1170px) {
    .timeline-container {
        margin-top: 3em;
        margin-bottom: 3em;

        &:before {
            left: 50%;
            margin-left: -2px;
        }

        .timeline-block {
            margin: -2em 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .timeline-year {
                top: 20px;
                left: 50%;
                margin-left: -24px;
                -webkit-backface-visibility: hidden;
            }

            .timeline-content {
                margin-left: 0;
                width: 45%;

                &:before {
                    top: 24px;
                    left: 100%;
                    border-color: transparent;
                    border-left-color: var(--theme-first-color);
                }
            }
        }
    }

    .timeline-container .timeline-block:nth-child(even) .timeline-content {
        float: right;
    }

    .timeline-container .timeline-block:nth-child(even) .timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: var(--theme-first-color);
    }
}



@media (min-width: 768px) {
    .timeline-container {
        .timeline-block {
            .timeline-content {
                p {
                    font-size: 14px;
                }
            }
        }
    } 
}

@media (max-width: 240px) {
    .timeline-container {
        .timeline-block {
            .timeline-content {
                h2 {
                    padding: 0.5em;
                    font-size: 18px;
                }

                p {
                    padding: 0.5em;
                    font-size: 14px;
                }
            }
        }
    } 
}

