@import '../../scss/_variables';

.skills-wrapper {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;

    .skills {
        width: 90%;
        display: flex;
        flex-wrap: wrap;

        li {
            width: 50%;
            margin-bottom: 10px;
            padding-right: 30px;

            .progress-wrapper {
                background-color: #f0f0f0;
                border-radius: 0;
                height: 1.5rem;
                margin-bottom: 20px;
                position: relative;
                box-shadow: none;
                color: #333;
                font-size: 0.8rem;

                .lead {
                    color: #fff;
                    font-weight: 600;
                    left: 5px;
                    position: absolute;
                    top: 13px;
                    z-index: 99;
                }

                .percentage {
                    align-self: end;
                    margin-right: 5px;
                    margin-top: 0;
                    font-weight: 600;
                }
            }
        }
    }
}

$chartColors: #007bff, #56c7fa, #ff6600, #0fdc18, #eca900, #5476a9, #e0949f, #ffc000, #a144ec, #63ad68, #b67baa, #f2455f;

@for $i from 1 through length($chartColors) {
    $chartColors: append($chartColors, darken(nth($chartColors, $i), 20));
}
$chartColorsLength: length($chartColors);

.skills-wrapper {
    .skills {
        li {
            @for $i from 1 through $chartColorsLength {
                &:nth-of-type(#{$chartColorsLength}n + #{$i}) .progress-color {
                    background-color: nth($chartColors, $i);
                }
            }
        }
    }
}

.progress-color {
    width: 0;
}

.skill-language,
.soft-skills {
    margin-top: 30px;
    h2 {
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
    }
}


.soft-skills {
    margin-top: 3rem;
    .wrapper {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }
    .box {
        align-items: center;
        display: flex;
        justify-content: center;
        color: #fff;
        background-color: var(--theme-first-color);
        height: 105px;

        .interest-icon {
            text-align: center;
            img {
                width: 50px;
                padding-top: 5px;
            }
            span {
                display: block;
                padding-top: 5px;
            }
        }

        &:nth-child(even) {
            background-color: white;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            span {
                color: #58666e;
            }
        }

        &:nth-child(odd) {
            background-color: var(--theme-first-color);
        }
    }

    
}

@media screen and (max-width: 768px) {
    .skills-wrapper {
        .skills {
            li {
                width: 100%;
                padding-right: 0;
            }
        }
    }
    .soft-skills {
        margin-top: 3rem;
        .wrapper {
            display: flex;
            justify-content: flex-start;
        }
        .box {
            border: 1px solid #ddd;
        }
    }
}

@media screen and (max-width: 400px) {
    .skills-wrapper {
        .skills {
            li {
                .progress-wrapper {
                    background-color: #c2b9b9;
                    margin-bottom: 10px;
    
                    .lead {
                        width: 100%;
                        top: 12px;
                        font-weight: 500;
    
                        .percentage {
                            float: right;
                            margin-right: 15px;
                            color: #ffffff;
                            font-weight: 500;
                        }
                    }
                } 
            }
        }
    }
}
