/* This partial contains repeatable property values, such as brand colors and sizes. */


//$primary-color: #07cb79;   // Old color reference
$primary-color: #06A763;
$secondary-color: #58666e;

$loading-ncirc: 2;
$loading-bgcolor: #0fa;